body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 500px;
  margin: 30px auto;
  padding: 10px;
  box-sizing: border-box;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #5a86c5;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #3d6aa8;
}

h2 {
  margin-top: 30px;
  font-size: 22px;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

td button {
  width: auto;
  padding: 6px 10px;
}


@media (max-width: 600px) {

  .container {
    width: 95%;
    margin: 20px auto;
  }

  h2 {
    font-size: 18px;
    text-align: center;
  }

  th,
  td {
    font-size: 12px;
    padding: 8px;
  }

  button {
    padding: 10px;
    font-size: 14px;
  }

  input {
    font-size: 14px;
  }

}