body {
    font-family: Arial;
    background-color: #f2f2f2;
}

.container {
    width: 500px;
    margin: 50px auto;
}

.faq {
    background: white;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.question {
    padding: 15px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
}

.answer {
    padding: 15px;
    display: none;
    background-color: #e9ecef;
}


.active {
    background-color: #0056b3 !important;
}