#profileCard {
            border: 2px solid #333;
            padding: 15px;
            width: 250px;
            margin-top: 20px;
            border-radius: 10px;
            background-color: #f5f5f5;
}